*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	/* inheriting box-sizing from body better practice for styling components */
	box-sizing: inherit;
	scroll-behavior: smooth;
}

html {
	/* root font size set at % is best practice */
	/* defines what one rem is */
	font-size: 90%;
}

body {
	box-sizing: border-box;
}

#app {
	display: flex;
	flex-direction: column;
}

html,
body, 
#app {
	height: 100%;
}