body {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 400;
	line-height: 1.7;
}

.heading-primary {	
	margin-bottom: 1.5rem;
	color: #fff;
	font-weight: 100;
}

.paragraph {
	font-size: 1.2rem;
}

.slight-margin {
    margin-bottom: 0.5rem;
}

.larger-margin {
	margin-bottom: 1rem;
}