@use "./../../sass/abstracts/variables" as var;
@use "./../../sass/abstracts/mixins" as mix;

nav {
	padding-bottom: 4rem;
}

.navbar {
	display: flex;
	background-color: var.$purple;
	justify-content: space-between;
	align-items: flex-start;
	box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(var.$color-black, .2);
	
	&__link {
		text-decoration: none;
		padding: 1rem;
		color: var.$color-black;
		list-style: none;
		
		&:first-child {
			font-size: 2rem;
			font-weight: 700;
			color: var.$color-white;
			margin-top: -0.2rem;
		}
		
		&:not(:first-child) {
			margin: 0.7rem 1rem 0.7rem;
			@include mix.white-button;
		}
	}
}

.sign-up {
	position: absolute;
	right: 5.5rem;
}

.lobby-button {
	position: absolute;
	right: 6.3rem;
}

@media only screen and (max-width: 480px) {
	.navbar {
		display: flex;
		align-items: center;
		background-color: var.$purple;
		justify-content: space-between;
		box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(var.$color-black, .2);
	}

	.navbar__link:first-child {
		font-size: 1.6rem;
		font-weight: 700;
		color: var.$color-white;
		margin-top: -0.2rem;
	}
}