@use "./../../sass/abstracts/variables" as var;

footer {
	background-color: var.$purple;
	padding: 1rem;
	display: flex;
	justify-content: center;
	margin-top: auto;
}

.footer-text {
	color: var.$color-white;
	list-style: none;
	font-size: 1.1rem;
}

.footer-subcontainer {
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__li {
		display: inline-block;	
	}
	
	&__link-container {
		padding: 0.7rem;
		background-color: var.$light-grey;
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		margin: 0rem 1rem 0rem ;
		transition: all .2s;
		
		&:hover {
			background-color: var.$color-blue;
		}
	}
}