@use "./../../sass/abstracts/variables" as var;

.form-container {
	display: flex;
	justify-content: center;
}

.login-heading {
	margin-bottom: 1.5rem;
	font-size: 2rem;
	text-align: center;
}

.login-form {
	background-color: var.$japan-red;
	padding: 3rem;
	max-width: 30rem;
	border-radius: 3rem;
	box-shadow: 0 1.5rem 4rem rgba(var.$color-black, .2);
	
	&__button {
		appearance: none;
		border: 2px solid var.$color-white;
		padding: 1rem;
		color: var.$color-white;
		transition: all .1s;
		font-size: 1.2rem;
		border-radius: 1rem;
		background-color: transparent;
		
		&:hover {
			background-color: var.$color-white;
			color: var.$color-black;
			cursor: pointer;
		}
	}
}

input {
	display: block;
	margin-bottom: 1.5rem;
	font-size: 1.3rem;
	width: 20rem;
	padding: 1rem;
	border: 0;
	border-radius: 1rem;
	font-family: inherit;
	
	&:focus {
		outline: none;
	}
}

.forgot-password-link {
	text-align: center;
	margin-top: 4rem;
}

@media only screen and (max-width: 480px) {
	.forgot-password-link {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}