@use "./../../sass/abstracts/variables" as var;
@use "./../../sass/abstracts/mixins" as mix;

.lobby-head {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 33% 1fr 1fr;
    grid-template-areas: 'left center right'
                         'btm-left center right';
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var.$light-grey;
    margin-bottom: 2rem;

    &__text {
        text-align: center;
        grid-area: center;

        &__title {
            font-size: 2rem;
        }
    }

    &__chips-display {
        grid-area: left;
        background-color: var.$light-grey;
        border-radius: 1rem;
        padding: 1.5rem;
        box-shadow: 0px 5px 15px 1px rgba(var.$color-black, .37);
        font-size: 1.1rem;
        font-weight: 700;
    }

    &__button-container {
        grid-area: right;
        background-color: var.$light-grey;
        border-radius: 1rem;
        padding: 1.5rem;
        box-shadow: 0px 5px 15px 1px rgba(var.$color-black, .37);

        &--left {
            @extend .lobby-head__button-container;
            grid-area: btm-left;
            margin-top: 1rem;
        }
    }

    &__button {
        @include mix.red-button;

        &:disabled {
            background-color: var.$dark-grey;
            color: var.$color-black;
            transform: none;
            transition: none;
        }
    }
}

.lobby-body {
    padding: 3rem;
    color: var.$color-white;
    background-color: var.$light-grey;
    border-radius: 1rem;
    max-width: 65%;
    margin: 2.5rem auto;

    &__noroom-text {
        color: var.$color-black;
    }

    &__room {
        background-color: var.$purple;
        border-radius: 1rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 30rem 1fr 15%;
        box-shadow: 1px 13px 15px 1px rgba(var.$color-black, .28);
        margin-bottom: 2.5rem;

        &__room-name {
            font-size: 2rem;
        }

        &__room-status {
            grid-column: 3 / 4;
            padding: 1rem;
            font-weight: 700;
            font-size: 1.3rem;
            border-radius: 1rem;
            max-height: 4rem;
            text-align: center;

            &--open {
                @extend .lobby-body__room__room-status;
                background-color: var.$color-green;
            }

            &--ongoing {
                @extend .lobby-body__room__room-status;
                background-color: var.$color-orange;
            }

            &--ended {
                @extend .lobby-body__room__room-status;
                background-color: var.$japan-red;
            }
        }

        &__player-text {
            font-size: 1.2rem;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            text-align: end;
            margin-right: 1rem;
        }

        &__turn-text {
            grid-column: -1 / -2;
            text-align: center;
        }

        &__bet-text {
            @extend .lobby-body__room__turn-text;
            margin: -2rem;
        }

        &__button {
            appearance: none;
            border: none;
            border-radius: 1rem;
            background-color: var.$color-white;
            color: var.$color-black;
            padding: 1rem;
            transition: all .2s;
            font-size: 1.5rem;
            max-width: 40%;
            grid-row: 2 / 3;

            &:hover {
                &:not([disabled]) {
                    cursor: pointer;
                    transform: translateY(-0.3rem);
                }
            }

            &:active,
            &:focus {
                transform: translateY(-0.1rem);
            }

            &:disabled {
                background-color: var.$dark-grey;
                color: var.$color-black;
                transform: none;
                transition: none;
            }
        }
    }
}