@use "./../../../sass/abstracts/variables" as var;

.game-card {
    position: relative;
    -moz-perspective: 150rem;
	perspective: 150rem;
    margin-bottom: 0.9rem;

    &__button {
        background: transparent;
        border: none;
        cursor: grab;
        margin: auto 2rem;
    }

    &__value-container {
        position: absolute;
        top: -15px;
        left: 10px;
        z-index: 999999;
        background: var.$japan-red;
        color: var.$color-white;
        padding: 1.3rem;
        clip-path: polygon(0 0, 0% 100%, 100% 0);

        &__value {
            font-weight: 700;
            position: relative;
            top: -10px;
            left: -10px;
        }
    }

    &__inner {
        display: grid;
		transition: all .4s ease-out;
		transform-style: preserve-3d;
        transform: rotateY(180deg);

        &--hidden {
            @extend .game-card__inner;
            transform: rotateY(0);
        }
    }

    &__side {
        grid-area: 1/1;
		width: 100%;
		backface-visibility: hidden;
        box-shadow: 1px 8px 15px 4px rgba(var.$color-black, .39);

        &--front {
            transform: rotateY(180deg);
        }
    }
}